<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<display-name>Final Combat</display-name>
	<description>Final Combat Service</description>

	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/applicationContext.xml</param-value>
	</context-param>


    <!-- Http Flex Session attribute and binding listener support -->
    <listener>
        <listener-class>flex.messaging.HttpFlexSession</listener-class>
    </listener>	
	

    <context-param>
        <param-name>flex.class.path</param-name>
        <param-value>/WEB-INF/flex/jars</param-value>
    </context-param>
	<!-- ip filter 
	<filter>
     <filter-name>IpFilter</filter-name>
     <filter-class>com.pearl.manager.filter.IpFilter</filter-class>
     <init-param>        
        <param-name>deny</param-name>
        <param-value>192.168.1.38</param-value>
     </init-param>
     <init-param>        
        <param-name>allow</param-name>
        <param-value>192.168.1.69</param-value>
     </init-param>
  </filter>
  -->
	<servlet>
		<servlet-name>initServlet</servlet-name>
		<display-name>initServlet</display-name>
		<load-on-startup>0</load-on-startup>
		<servlet-class>com.pearl.manager.servlet.InitServlet</servlet-class>
	</servlet>

    <!-- MessageBroker Servlet -->
    <servlet>
        <servlet-name>MessageBrokerServlet</servlet-name>
        <display-name>MessageBrokerServlet</display-name>
        <servlet-class>flex.messaging.MessageBrokerServlet</servlet-class>
        <init-param>
            <param-name>services.configuration.file</param-name>
            <param-value>/WEB-INF/flex/services-config.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>MessageBrokerServlet</servlet-name>
        <url-pattern>/messagebroker/*</url-pattern>
    </servlet-mapping>
	
</web-app>
