<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pearl.fcw.gm.pojo.WChannelMapper" >
  <resultMap id="BaseResultMap" type="com.pearl.fcw.gm.pojo.WChannel" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="SERVER_ID" property="serverId" jdbcType="INTEGER" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="MAX_LEVEL" property="maxLevel" jdbcType="INTEGER" />
    <result column="MIN_LEVEL" property="minLevel" jdbcType="INTEGER" />
    <result column="MAX_ONLINE" property="maxOnline" jdbcType="INTEGER" />
    <result column="CHANNEL_ID" property="channelId" jdbcType="INTEGER" />
    <result column="IS_TCP" property="isTcp" jdbcType="INTEGER" />
    <result column="MAX_TEAM_LEVEL" property="maxTeamLevel" jdbcType="INTEGER" />
    <result column="MIN_TEAM_LEVEL" property="minTeamLevel" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, SERVER_ID, NAME, MAX_LEVEL, MIN_LEVEL, MAX_ONLINE, CHANNEL_ID, IS_TCP, MAX_TEAM_LEVEL, 
    MIN_TEAM_LEVEL
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from CHANNEL
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <select id="select" resultMap="BaseResultMap" parameterType="com.pearl.fcw.gm.pojo.WChannel" >
    select 
    <include refid="Base_Column_List" />
    from CHANNEL where 1=1
    <if test="serverId != null">
    and SERVER_ID =#{serverId,jdbcType=INTEGER}
    </if>
  </select>
  <select id="selectPage" resultMap="BaseResultMap" parameterType="com.pearl.fcw.utils.DataTablesParameter" >
    select 
    <include refid="Base_Column_List" />
    from CHANNEL where 1 = 1
    <if test="searchValue != null">
    and ( ID like '${searchValue}%' or `NAME` like '${searchValue}%' or SERVER_ID like '${searchValue}%' or CHANNEL_ID like '${searchValue}%')
    </if>
    <if test="orderColumn != null">
    order by ${orderColumn}
    	<if test="orderDir != null">${orderDir}</if>
    </if>
    <if test="start >=0 and length >0">
    limit ${start},${length}
    </if>
  </select>
  <select id="selectCount" resultType="java.lang.Integer" parameterType="com.pearl.fcw.utils.DataTablesParameter">
  	select count(*) from CHANNEL where 1=1
  	<if test="searchValue != null">
    and ( ID like '${searchValue}%' or `NAME` like '${searchValue}%' or SERVER_ID like '${searchValue}%' or CHANNEL_ID like '${searchValue}%')
 	 </if>
 	</select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from CHANNEL
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pearl.fcw.gm.pojo.WChannel" >
    insert into CHANNEL (ID, SERVER_ID, NAME, 
      MAX_LEVEL, MIN_LEVEL, MAX_ONLINE, 
      CHANNEL_ID, IS_TCP, MAX_TEAM_LEVEL, 
      MIN_TEAM_LEVEL)
    values (#{id,jdbcType=INTEGER}, #{serverId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{maxLevel,jdbcType=INTEGER}, #{minLevel,jdbcType=INTEGER}, #{maxOnline,jdbcType=INTEGER}, 
      #{channelId,jdbcType=INTEGER}, #{isTcp,jdbcType=INTEGER}, #{maxTeamLevel,jdbcType=INTEGER}, 
      #{minTeamLevel,jdbcType=INTEGER})
  </insert>
  <insert id="replace" parameterType="java.util.List" >
    replace into CHANNEL (ID, SERVER_ID, NAME, 
      MAX_LEVEL, MIN_LEVEL, MAX_ONLINE, 
      CHANNEL_ID, IS_TCP, MAX_TEAM_LEVEL, 
      MIN_TEAM_LEVEL)
    values 
		<foreach collection="list" item="item" index="index" open="" close="" separator=",">
    	(#{item.id,jdbcType=INTEGER}, #{item.serverId,jdbcType=INTEGER}, #{item.name,jdbcType=VARCHAR}, 
      #{item.maxLevel,jdbcType=INTEGER}, #{item.minLevel,jdbcType=INTEGER}, #{item.maxOnline,jdbcType=INTEGER}, 
      #{item.channelId,jdbcType=INTEGER}, #{item.isTcp,jdbcType=INTEGER}, #{item.maxTeamLevel,jdbcType=INTEGER}, 
      #{item.minTeamLevel,jdbcType=INTEGER})
      </foreach>
  </insert>
  <insert id="insertSelective" parameterType="com.pearl.fcw.gm.pojo.WChannel" >
  	<selectKey keyProperty="id" resultType="java.lang.Integer" order="AFTER">
  	SELECT @@IDENTITY AS ID
  	</selectKey>
    insert into CHANNEL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="serverId != null" >
        SERVER_ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="maxLevel != null" >
        MAX_LEVEL,
      </if>
      <if test="minLevel != null" >
        MIN_LEVEL,
      </if>
      <if test="maxOnline != null" >
        MAX_ONLINE,
      </if>
      <if test="channelId != null" >
        CHANNEL_ID,
      </if>
      <if test="isTcp != null" >
        IS_TCP,
      </if>
      <if test="maxTeamLevel != null" >
        MAX_TEAM_LEVEL,
      </if>
      <if test="minTeamLevel != null" >
        MIN_TEAM_LEVEL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="serverId != null" >
        #{serverId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="maxLevel != null" >
        #{maxLevel,jdbcType=INTEGER},
      </if>
      <if test="minLevel != null" >
        #{minLevel,jdbcType=INTEGER},
      </if>
      <if test="maxOnline != null" >
        #{maxOnline,jdbcType=INTEGER},
      </if>
      <if test="channelId != null" >
        #{channelId,jdbcType=INTEGER},
      </if>
      <if test="isTcp != null" >
        #{isTcp,jdbcType=INTEGER},
      </if>
      <if test="maxTeamLevel != null" >
        #{maxTeamLevel,jdbcType=INTEGER},
      </if>
      <if test="minTeamLevel != null" >
        #{minTeamLevel,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pearl.fcw.gm.pojo.WChannel" >
    update CHANNEL
    <set >
      <if test="serverId != null" >
        SERVER_ID = #{serverId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="maxLevel != null" >
        MAX_LEVEL = #{maxLevel,jdbcType=INTEGER},
      </if>
      <if test="minLevel != null" >
        MIN_LEVEL = #{minLevel,jdbcType=INTEGER},
      </if>
      <if test="maxOnline != null" >
        MAX_ONLINE = #{maxOnline,jdbcType=INTEGER},
      </if>
      <if test="channelId != null" >
        CHANNEL_ID = #{channelId,jdbcType=INTEGER},
      </if>
      <if test="isTcp != null" >
        IS_TCP = #{isTcp,jdbcType=INTEGER},
      </if>
      <if test="maxTeamLevel != null" >
        MAX_TEAM_LEVEL = #{maxTeamLevel,jdbcType=INTEGER},
      </if>
      <if test="minTeamLevel != null" >
        MIN_TEAM_LEVEL = #{minTeamLevel,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pearl.fcw.gm.pojo.WChannel" >
    update CHANNEL
    set SERVER_ID = #{serverId,jdbcType=INTEGER},
      NAME = #{name,jdbcType=VARCHAR},
      MAX_LEVEL = #{maxLevel,jdbcType=INTEGER},
      MIN_LEVEL = #{minLevel,jdbcType=INTEGER},
      MAX_ONLINE = #{maxOnline,jdbcType=INTEGER},
      CHANNEL_ID = #{channelId,jdbcType=INTEGER},
      IS_TCP = #{isTcp,jdbcType=INTEGER},
      MAX_TEAM_LEVEL = #{maxTeamLevel,jdbcType=INTEGER},
      MIN_TEAM_LEVEL = #{minTeamLevel,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>