<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pearl.fcw.gm.pojo.WGmGroupMapper" >
  <resultMap id="BaseResultMap" type="com.pearl.fcw.gm.pojo.WGmGroup" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="CREATOR_ID" property="creatorId" jdbcType="INTEGER" />
    <result column="CODE" property="code" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, NAME, DESCRIPTION, CREATOR_ID, CODE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from GM_GROUP
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <select id="select" resultMap="BaseResultMap" parameterType="com.pearl.fcw.gm.pojo.WGmGroup" >
    select 
    <include refid="Base_Column_List" />
    from GM_GROUP where 1=1
  </select>
  <select id="selectPage" resultMap="BaseResultMap" parameterType="com.pearl.fcw.utils.DataTablesParameter" >
    select 
    <include refid="Base_Column_List" />
    from GM_GROUP where 1 = 1
    <if test="searchValue != null">
    and ( ID like '${searchValue}%' or `NAME` like '${searchValue}%' )
    </if>
    <if test="orderColumn != null">
    order by ${orderColumn}
    	<if test="orderDir != null">${orderDir}</if>
    </if>
    <if test="start >=0 and length >0">
    limit ${start},${length}
    </if>
  </select>
  <select id="selectCount" resultType="java.lang.Integer" parameterType="com.pearl.fcw.utils.DataTablesParameter">
  	select count(*) from GM_GROUP where 1=1
  	<if test="searchValue != null">
    and ( ID like '${searchValue}%' or `NAME` like '${searchValue}%' )
 	 </if>
 	</select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from GM_GROUP
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pearl.fcw.gm.pojo.WGmGroup" >
    insert into GM_GROUP (ID, NAME, DESCRIPTION, 
      CREATOR_ID, CODE)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{creatorId,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pearl.fcw.gm.pojo.WGmGroup" >
  	<selectKey keyProperty="id" resultType="java.lang.Integer" order="AFTER">
  	SELECT @@IDENTITY AS ID
  	</selectKey>
    insert into GM_GROUP
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="description != null" >
        DESCRIPTION,
      </if>
      <if test="creatorId != null" >
        CREATOR_ID,
      </if>
      <if test="code != null" >
        CODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null" >
        #{creatorId,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pearl.fcw.gm.pojo.WGmGroup" >
    update GM_GROUP
    <set >
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null" >
        CREATOR_ID = #{creatorId,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        CODE = #{code,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pearl.fcw.gm.pojo.WGmGroup" >
    update GM_GROUP
    set NAME = #{name,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      CREATOR_ID = #{creatorId,jdbcType=INTEGER},
      CODE = #{code,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>