<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration  -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user             -->
<!--                                                                -->
<!-- For professional support please see                            -->
<!--    http://www.qos.ch/shop/products/professionalSupport         -->
<!--                                                                -->

<configuration scan="true">
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <Target>System.out</Target>
    <encoder>
      <pattern>%-4relative, %d [%thread]|-%-5level %logger{35} - %msg%n</pattern>
       <outputPatternAsPresentationHeader>false</outputPatternAsPresentationHeader>
    </encoder>
  </appender>  
  
   <appender name="xunleiLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${catalina.base}/logs/xunlei.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
    	<fileNamePattern>${catalina.base}/logs/xunlei.%d{yyyy-MM-dd}.log</fileNamePattern>
    </rollingPolicy>    
    <encoder>
      <pattern>%msg%n</pattern>
      <outputPatternAsPresentationHeader>false</outputPatternAsPresentationHeader>
    </encoder>
  </appender>
  <appender name="deleteFriend" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${catalina.base}/logs/deleteFriend.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${catalina.base}/logs/deleteFriend.%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
			<outputPatternAsPresentationHeader>false</outputPatternAsPresentationHeader>
		</encoder>
	</appender>
	<appender name="deletePlayerItem" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${catalina.base}/logs/deletePlayerItem.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${catalina.base}/logs/deletePlayerItem.%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
			<outputPatternAsPresentationHeader>false</outputPatternAsPresentationHeader>
		</encoder>
	</appender>
  <appender name="logserver" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${catalina.base}/logs/logserver.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${catalina.base}/logs/logserver.%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
			<outputPatternAsPresentationHeader>false</outputPatternAsPresentationHeader>
		</encoder>
	</appender>
	<appender name="secondLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${catalina.base}/logs/secondLog.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${catalina.base}/logs/secondLog.%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%msg%n</pattern>
			<outputPatternAsPresentationHeader>false</outputPatternAsPresentationHeader>
		</encoder>
	</appender>
	<appender name="buyPlayerItem" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${catalina.base}/logs/buyPlayerItem.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${catalina.base}/logs/buyPlayerItem.%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%msg%n</pattern>
			<outputPatternAsPresentationHeader>false</outputPatternAsPresentationHeader>
		</encoder>
	</appender>
<!--=======================  Logger Configuration ========================-->
	<logger name="deletePlayerItem" level="INFO" additivity="false">
		<appender-ref ref="deletePlayerItem" />
	</logger>
	<logger name="deleteFriend" level="INFO" additivity="false">
		<appender-ref ref="deleteFriend" />
	</logger>
	<logger name="xunleiLog" level="INFO" additivity="false">
		<appender-ref ref="xunleiLog" />
	</logger>
	<logger name="logserver" level="INFO" additivity="false">
		<appender-ref ref="logserver" />
	</logger>
	<logger name="secondLog" level="INFO" additivity="false">
		<appender-ref ref="secondLog" />
	</logger>
	<logger name="buyPlayerItem" level="INFO" additivity="false">
		<appender-ref ref="buyPlayerItem" />
	</logger>
 
<!--=============================  Root Logger ==============================-->
  <logger name="java.sql.Connection" 						level="ERROR"/>
  <logger name="java.sql.PreparedStatement" 				level="ERROR"/>
  <logger name="java.sql.ResultSet" 						level="ERROR"/>
  <logger name="java.sql.Statement" 						level="ERROR"/>

  <logger name="org.springframework" 						level="ERROR"/>    
  <logger name="org.springframework.transaction" 			level="ERROR"/>
  <logger name="org.springframework.orm" 					level="ERROR"/>

  <logger name="com.ibatis" 								level="ERROR"/>    
  <logger name="com.ibatis.sqlmap.engine.cache.CacheModel" 	level="ERROR"/>
  <logger name="com.ibatis.sqlmap.engine.builder.xml.SqlMapParser" 		level="ERROR"/>
  <logger name="com.ibatis.sqlmap.engine.impl.SqlMapClientImpl" 		level="ERROR"/>  
  <logger name="com.ibatis.common.jdbc.SimpleDataSource" 				level="ERROR"/>    
  <logger name="com.ibatis.common.util.StopWatch" 						level="ERROR"/>
  
  
  <root level="INFO">
    <appender-ref ref="exception"/>
  </root>
</configuration>