<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pearl.fcw.gm.pojo.WGmGroupPrivilegeMapper" >
  <resultMap id="BaseResultMap" type="com.pearl.fcw.gm.pojo.WGmGroupPrivilege" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="GROUP_ID" property="groupId" jdbcType="INTEGER" />
    <result column="PRIVILEGE_ID" property="privilegeId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, GROUP_ID, PRIVILEGE_ID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from GM_GROUP_PRIVILEGE
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <select id="select" resultMap="BaseResultMap" parameterType="com.pearl.fcw.gm.pojo.WGmGroupPrivilege" >
    select 
    <include refid="Base_Column_List" />
    from GM_GROUP_PRIVILEGE where 1=1
     <if test="groupId != null">
    and GROUP_ID =  #{groupId,jdbcType=INTEGER}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from GM_GROUP_PRIVILEGE
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pearl.fcw.gm.pojo.WGmGroupPrivilege" >
    insert into GM_GROUP_PRIVILEGE (ID, GROUP_ID, PRIVILEGE_ID
      )
    values (#{id,jdbcType=INTEGER}, #{groupId,jdbcType=INTEGER}, #{privilegeId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pearl.fcw.gm.pojo.WGmGroupPrivilege" >
  	<selectKey keyProperty="id" resultType="java.lang.Integer" order="AFTER">
  	SELECT @@IDENTITY AS ID
  	</selectKey>
    insert into GM_GROUP_PRIVILEGE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="groupId != null" >
        GROUP_ID,
      </if>
      <if test="privilegeId != null" >
        PRIVILEGE_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="groupId != null" >
        #{groupId,jdbcType=INTEGER},
      </if>
      <if test="privilegeId != null" >
        #{privilegeId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pearl.fcw.gm.pojo.WGmGroupPrivilege" >
    update GM_GROUP_PRIVILEGE
    <set >
      <if test="groupId != null" >
        GROUP_ID = #{groupId,jdbcType=INTEGER},
      </if>
      <if test="privilegeId != null" >
        PRIVILEGE_ID = #{privilegeId,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pearl.fcw.gm.pojo.WGmGroupPrivilege" >
    update GM_GROUP_PRIVILEGE
    set GROUP_ID = #{groupId,jdbcType=INTEGER},
      PRIVILEGE_ID = #{privilegeId,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>