<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Final Combat</display-name>
	<description>Final Combat Service</description>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring/*.xml</param-value>
	</context-param>
	<context-param>
		<param-name>flex.class.path</param-name>
		<param-value>/WEB-INF/flex/jars</param-value>
	</context-param>
	<!-- 编码过滤器 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<async-supported>true</async-supported>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- Spring监听器 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- 防止Spring内存溢出监听器 -->
	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>
	<!-- Http Flex Session attribute and binding listener support -->
	<listener>
		<listener-class>flex.messaging.HttpFlexSession</listener-class>
	</listener>

	<!-- Spring MVC servlet -->
	<servlet>
		<servlet-name>SpringMVC</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath*:/spring/*.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
		<async-supported>true</async-supported>
	</servlet>
	<servlet-mapping>
		<servlet-name>SpringMVC</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<!-- Session 保留时间，分 -->
	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>
	<!-- 异常跳转页面 -->
	<error-page>
		<error-code>404</error-code>
		<location>/bj2/404.jsp</location>
	</error-page>
<!-- 	<error-page> -->
<!-- 		<error-code>500</error-code> -->
<!-- 		<location>/bj2/500.jsp</location> -->
<!-- 	</error-page> -->
<!-- 	<error-page> -->
<!-- 		<exception-type>java.lang.Throwable</exception-type> -->
<!-- 		<location>/bj2/500.jsp</location> -->
<!-- 	</error-page> -->
<!-- 	<context-param> -->
<!-- 		<param-name>webAppRootKey</param-name> -->
<!-- 		<param-value>catalina.base</param-value> -->
<!-- 	</context-param> -->
	<!-- i18n国际化 -->
	<context-param>
		<param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
		<param-value>i18n/messages</param-value>
	</context-param>

	<!-- ip filter <filter> <filter-name>IpFilter</filter-name> <filter-class>com.pearl.o2o.filter.IpFilter</filter-class> 
		<init-param> <param-name>deny</param-name> <param-value>192.168.1.38</param-value> 
		</init-param> <init-param> <param-name>allow</param-name> <param-value>192.168.1.69</param-value> 
		</init-param> </filter> -->


	<!-- MessageBroker Servlet -->
	<servlet>
		<display-name>MessageBrokerServlet</display-name>
		<servlet-name>MessageBrokerServlet</servlet-name>
		<servlet-class>flex.messaging.MessageBrokerServlet</servlet-class>
		<init-param>
			<param-name>services.configuration.file</param-name>
			<param-value>/flex/services-config.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>MessageBrokerServlet</servlet-name>
		<url-pattern>/messagebroker/*</url-pattern>
	</servlet-mapping>


	<!-- Servlet Mapping -->
	<servlet>
		<display-name>initServlet</display-name>
		<servlet-name>initServlet</servlet-name>
		<servlet-class>com.pearl.o2o.servlet.server.InitServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>


	<servlet>
		<display-name>MonitorServlet</display-name>
		<servlet-name>MonitorServlet</servlet-name>
		<servlet-class>com.pearl.o2o.servlet.server.MonitorServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>MonitorServlet</servlet-name>
		<url-pattern>/monitor/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>SwitchServlet</display-name>
		<servlet-name>SwitchServlet</servlet-name>
		<servlet-class>com.pearl.o2o.servlet.server.SwitchServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>SwitchServlet</servlet-name>
		<url-pattern>/switch/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>SynCacheServlet</display-name>
		<servlet-name>SynCacheServlet</servlet-name>
		<servlet-class>com.pearl.o2o.servlet.server.SynCacheServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SynCacheServlet</servlet-name>
		<url-pattern>/gm/SynCacheServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>InitPersonTopServlet</display-name>
		<servlet-name>InitPersonTopServlet</servlet-name>
		<servlet-class>com.pearl.o2o.servlet.server.InitPersonTopServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>InitPersonTopServlet</servlet-name>
		<url-pattern>/gm/InitPersonTopServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>CompeteBuyTaskServlet</display-name>
		<servlet-name>CompeteBuyTaskServlet</servlet-name>
		<servlet-class>com.pearl.o2o.servlet.server.CompeteBuyTaskServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CompeteBuyTaskServlet</servlet-name>
		<url-pattern>/gm/CompeteBuyTaskServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>ResetSysItem</display-name>
		<servlet-name>ResetSysItem</servlet-name>
		<servlet-class>com.pearl.o2o.servlet.server.ResetSysItem</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ResetSysItem</servlet-name>
		<url-pattern>/gm/ResetSysItem</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>InitConfig</display-name>
		<servlet-name>InitConfig</servlet-name>
		<servlet-class>com.pearl.o2o.servlet.server.InitConfig</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>InitConfig</servlet-name>
		<url-pattern>/gm/InitConfig</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>pay</display-name>
		<servlet-name>pay</servlet-name>
		<servlet-class>com.pearl.o2o.servlet.gm.AddLeiPointServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>beVIP</display-name>
		<servlet-name>beVIP</servlet-name>
		<servlet-class>com.pearl.o2o.servlet.gm.PayTobeVipServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>reduceFc</display-name>
		<servlet-name>reduceFc</servlet-name>
		<servlet-class>com.pearl.o2o.servlet.gm.ReduceLeiPointServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>pay</servlet-name>
		<url-pattern>/gm/pay</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>beVIP</servlet-name>
		<url-pattern>/gm/beVIP</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>reduceFc</servlet-name>
		<url-pattern>/gm/reduceFc</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>queryOrder</display-name>
		<servlet-name>queryOrder</servlet-name>
		<servlet-class>com.pearl.o2o.servlet.gm.QueryXunleiOrderServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>queryOrder</servlet-name>
		<url-pattern>/gm/queryOrder</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>queryBalance</display-name>
		<servlet-name>queryBalance</servlet-name>
		<servlet-class>com.pearl.o2o.servlet.gm.QueryXunleBalanceServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>queryBalance</servlet-name>
		<url-pattern>/gm/queryBalance</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>GetAwardServlet</display-name>
		<servlet-name>GetAwardServlet</servlet-name>
		<servlet-class>com.pearl.o2o.servlet.gm.GetAwardServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>GetAwardServlet</servlet-name>
		<url-pattern>/getaward</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>QueryAwardServlet</display-name>
		<servlet-name>QueryAwardServlet</servlet-name>
		<servlet-class>com.pearl.o2o.servlet.gm.QueryAwardServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>QueryAwardServlet</servlet-name>
		<url-pattern>/queryaward</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>SendMailServlet</display-name>
		<servlet-name>SendMailServlet</servlet-name>
		<servlet-class>com.pearl.o2o.servlet.gm.SendMailServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>SendMailServlet</servlet-name>
		<url-pattern>/sendmail</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>BindServlet</display-name>
		<servlet-name>BindServlet</servlet-name>
		<servlet-class>com.pearl.o2o.servlet.gm.BindServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>BindServlet</servlet-name>
		<url-pattern>/bind</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>queryPlayerVipStatus</servlet-name>
		<servlet-class>com.pearl.o2o.servlet.gm.QueryPlayerVipStatus</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>queryPlayerVipStatus</servlet-name>
		<url-pattern>/gm/queryPlayerVipStatus</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>kickPlayer</servlet-name>
		<servlet-class>com.pearl.o2o.servlet.gameguard.KickPlayer</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>kickPlayer</servlet-name>
		<url-pattern>/gm/kickPlayer</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>sendGiftToPlayer</servlet-name>
		<servlet-class>com.pearl.o2o.servlet.gm.SendGiftToPlayer</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>sendGiftToPlayer</servlet-name>
		<url-pattern>/sendgift</url-pattern>
	</servlet-mapping>

	<!-- -->

	<servlet>
		<servlet-name>cindex</servlet-name>
		<servlet-class>com.pearl.o2o.servlet.gm.IndexPointerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>cindex</servlet-name>
		<url-pattern>/cindex</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>gmGiftServlet</servlet-name>
		<servlet-class>com.pearl.o2o.service.GmGiftServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>gmGiftServlet</servlet-name>
		<url-pattern>/cindex/gmGift</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>dataOhteServlet</servlet-name>
		<servlet-class>com.pearl.o2o.service.DataOhteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>dataOhteServlet</servlet-name>
		<url-pattern>/cindex/dataOhte</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>levelOhteServlet</servlet-name>
		<servlet-class>com.pearl.o2o.service.LevelOhteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>levelOhteServlet</servlet-name>
		<url-pattern>/cindex/levelOhte</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>uploadProcessorServlet</servlet-name>
		<servlet-class>com.pearl.o2o.service.UploadProcessorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>uploadProcessorServlet</servlet-name>
		<url-pattern>/cindex/upload</url-pattern>
	</servlet-mapping>
</web-app>