<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- database: dc -->
<configuration>
	<mappers>
		<mapper resource="com/pde/info/analyser/dao/mapper/LuckyPackageDaoMapper.xml" />
		<mapper resource="com/pde/info/analyser/dao/mapper/CharacterAmountDaoMapper.xml" />
		<mapper resource="com/pde/info/analyser/dao/mapper/CharacterKDDaoMapper.xml" />
		<mapper resource="com/pde/info/analyser/dao/mapper/LevelTypeAmountDaoMapper.xml" />
		<mapper resource="com/pde/info/analyser/dao/mapper/LevelAmountDaoMapper.xml" />
		<mapper resource="com/pde/info/analyser/dao/mapper/MedalExchangeDaoMapper.xml" />
		<mapper resource="com/pde/info/analyser/dao/mapper/ItemCostDaoMapper.xml" />
		<mapper resource="com/pde/info/analyser/dao/mapper/ReChargeDaoMapper.xml" />
		<mapper resource="com/pde/info/analyser/dao/mapper/GPointTotalDaoMapper.xml" />
	</mappers>
</configuration>